{% extends "auctions/layout.html" %}

{% block body %}

<h2>Create Listing</h2>

<form action="{% url 'create' %}" method="post">
    {% csrf_token %}
    <label for="title">Title</label>
    <input id="title" name="title" type="text" class="form-control mb-3">

    <label for="description">Description</label>
    <textarea id="description" name="description" class="form-control mb-3"></textarea>

    <label for="starting_bid">Starting Bid</label>
    <input id="starting_bid" name="starting_bid" type="number" class="form-control mb-3">

    <label for="image_url">Image URL</label>
    <input id="image_url" name="image_url" type="text" class="form-control mb-3">

    <label for="category">Category</label>
    <select id="category" name="category" class="form-control">
        {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
    </select>

    <input class="btn btn-primary mt-3" type="submit" value="Create Listing">
</form>

{% endblock %}